.App {
  text-align: center;
  background-size: cover;
  background-position: center;
}
#welcome{
  color: antiquewhite;
}
#cart{
  background-color: gainsboro;
}

.footer{
  background-color: rgb(106, 106, 106);
  color: antiquewhite;
}
.btn{
  background-color: rgb(101, 101, 101);
  color:black;
  border-color:rgb(101, 101, 101);
}
.btn:hover{
  background-color: blanchedalmond;
  color: black;
}